<div class="text-center">
    Esta página nace debido a la necesidad de poder implementar lo aprendido en la unidad 3 del cursos de Infraestructura
    web. La página contiene los resumenes de las conferencias seleccionadas de la jornada acadèmica de
    computación 2017


</div>



