<div style="clear: both">
    <h1 class="text-center">Conferencias Optativas</h1>
    <div class="modal-body">
        <h3>Criptografía Post-Cuántica</h3>
        <a  href="Resumen6.html" role="button" class="btn btn-secondary popover-test"
            title="Popover title" data-content="Popover body content is set in this attribute.">Ver Resumen
        </a>

        <h3>Panel de emprendedores ¡Orgullo Tigre!</h3>
        <a  href="Resumen7.html" role="button" class="btn btn-secondary popover-test"
            title="Popover title" data-content="Popover body content is set in this attribute.">Ver Resumen
        </a>

        <h3>Dispositivos robóticos y su integración en aplicaciones de realidad virtual</h3>
        <a href="Resumen8.html" role="button" class="btn btn-secondary popover-test"
           title="Popover title" data-content="Popover body content is set in this attribute.">Ver Resumen
        </a>

    </div>
</div>