<div style="clear: both">
    <h1 class="text-center">Conferencias Obligatorias</h1>
    <div class="modal-body">
        <h3>Inteligencia Artificial</h3>
            <a  href="Resumen1.html" role="button" class="btn btn-secondary popover-test"
                title="Popover title" data-content="Popover body content is set in this attribute.">Ver Resumen
            </a>

        <h3>Tendencias Del Desarrollo Web</h3>
            <a  href="Resumen2.html" role="button" class="btn btn-secondary popover-test"
                title="Popover title" data-content="Popover body content is set in this attribute.">Ver Resumen
            </a>

        <h3>Michelada.io</h3>
            <a href="Resumen3.html" role="button" class="btn btn-secondary popover-test"
               title="Popover title" data-content="Popover body content is set in this attribute.">Ver Resumen
            </a>

        <h3>Hacía donde va la investigación en las ciencias de la información</h3>
            <a href="Resumen4.html" role="button" class="btn btn-secondary popover-test"
               title="Popover title" data-content="Popover body content is set in this attribute.">Ver Resumen
            </a>

        <h3>Machine learning 101</h3>
            <a href="Resumen5.html" role="button" class="btn btn-secondary popover-test"
               title="Popover title" data-content="Popover body content is set in this attribute.">Ver Resumen
            </a>

    </div>
</div>
