<div style="clear: both">
    <h1 class="text-center bg-info">Michelada.io</h1>
    <p class="text-center">
        Esta conferencia impartida por el Ing. Eduardo Figarola Mota nos deja en pocas palabras
        una visión de lo que es trabajar en una empresa de desarrollo; el ingeniero nos platica
        sus experiencias como programador así como consejos para optimixar nuestro código y hacerlo
        de calidad. La conferencia fue bastante amena ya que el conferensista mostraba una actitud relajada
        y un buen sentido del humor. Por último nos hace una atenta invitaciòn a formar parte
        de su equipo de trabajo.
    </p>
</div>