<div style="clear: both">
    <h1 class="text-center bg-info">Dispositivos robóticos y su integración en aplicaciones con realidad virtual</h1>
    <p class="text-center">
        Esta conferencia dirigida por el Dr. Ulises Saldivar Coladola la cual nos hizo dar un vistazo a un campo muy
        muy interesante del área de sistemas... La Robótica, la cual la definió como la representación sintética de la
        realidad por lo general en 3D encargada de recibir información visual, auditica y/o táctil, menciona también
        que mediante la esquematización se deben realizar malla poligonales para presición del objeto. Definiò de
        manera concreta el concepto Cybergrasp que habla de la sencacion táctil mientras que la cyberForce,permite
        la sensación de peso. La conferencia fue bastante entretenida pero un poco complicada ya que se vieron temas
        nuevos que para perfeccionarlos habrá que investigarlos por su cuenta.
    </p>
</div>