<div style="clear: both">
    <h1 class="text-center bg-info">Tendencias del desarrollo web</h1>
    <p class="text-center">
        Esta conferencia impartida por el Ing. Adam Carrasco fue de mucha ayuda para utilizar
        y conocer muchas herramientas que se usaron para el desarrollo de esta página ya que
        se mencionaron herramientas que ayudan a hacer nuestra página web mas dinámica como
        boostrap. También se mencionaron lenguajes para desarrollo web conocidos como lo son:
        HTML, CSS y JS; así como temas como SinglePageApplication y ProgressiveWebApp que nos ayudan
        a diseñar una página dinámica que le brinda la sensación al usuario de que la página responde
        rápidamente. Está fue de mis conferencias favoritas por la importancia para mí en este semestre.
    </p>
</div>