<div style="clear: both">
    <h1 class="text-center bg-info">Criptografía Post-Cuántica</h1>
    <p class="text-center">
        Esta conferencia impartida por el Lic. Diego Armando Retana García la cual se me hizo
        la conferencia mas compleja y dificil de entender debido al uso de matemáticas complejas
        pero eso no le quito mérito a lo interesante ya que se manjearon temas de seguridad de datos
        algo vital para el desarrollo de sistemas y compartimiento de información. A grandes rasgos
        menciono el sistema de criptografía RSA el cual es el mas utilizado y menciona que para poder
        romper ese sistema de seguridad es necesario esperar miles de años que ni con una computadora
        Cuántica sería posible. Nos comentó que el esta trabajando con un nuevo sistema que es aun mas seguro.
        Por otro lado nos mencionó que existen dos tipos de criptografía, la simétrica y la asimétrica las
        cuales se diferencian solo porque en los extremos una cuenta condos llaves públicas (una a cada extremo)
        y la otra con una pública y otra privada.
    </p>
</div>