<div style="clear: both">
    <h1 class="text-center bg-info">Machine Learning 101</h1>
    <p class="text-center">
        Esta conferencia impartida por el Ing. Edwin Efraín Jiménez Lepe orgullosamente egresado
        del tec de Tepic Hace mención en uno de los temas mas novedosos en el área de sistemas que es
        Machine Learning el cual es una rama de la inteligencia artificial. En esta conferencia se mencionaron
        bastantes conceptos muy interesantes como la diferencia entre Inteligencia y aprendizaje la cual es
        el manejo de la información y a su vas la decisión tomada por la entidad. También conocimos empresas que ussan
        esta tecnología y como la implementan para el beneficio de sus sistemas, como Netflix que gracias a este
        mecanísmo puede brindar una mayo experiencia al usuario, también es importante mencionar que gracias a los usuarios
        es como se alimenta este mecanísmo. Por último pudimos concluir que este mecanísmo es bastante poderosa
        y nos brinda una gran oportunidad para competir en el mercado.
    </p>
</div>