<div style="clear: both">
    <h1 class="text-center bg-info">Michelada.io</h1>
    <p class="text-center">
        Esta conferencia impartida por la Dr. Xiomara Penélope Zaldivar Colado nos demuestra ser
        una persona bastante preparada y que tiene un curriculum muy amplio y repleto de logros y nos
        hace una atenta invitación a seguir preparándonos ya que menciona que la competencia es bastante en
        el campo laboral, la Dra. hace enfasis  en la calidad de posgrado en México, nos invita a unirnos al
        Conacit que cuentra con 2155 programas de posgrado de calidad dividido en 7 áreas siendo el área
        de la ingeniería la mas concurrida, resaltando que en Nayarit solo se cuenta con 12 programas certificados.
        Por último menciona las becas por seguir estudiando que asciende a los 10,000 pesos mensuales.
    </p>
</div>