Panel de emprendedores ¡Orgullo Tigre!
<div style="clear: both">
    <h1 class="text-center bg-info">Panel de emprendedores ¡Orgullo Tigre!</h1>
    <p class="text-center">
        Esta conferencia dirigida por la Mtra. Veroníca Jaurgeui en la cúal se invitaron
        a 4 emprendedores del área de sistemas egresados del tecnológico de Tepic con el fin
        de contarnos sus experiencias a la hora de emprender un negocio y darnos unos consejos
        para innovar y perder el miedo a fracasar. En lo personal esta fue una de las conferencias
        que mas aprendizaje me dejó y una satisfacción de saber que los ingenieros tambièn podemos
        ser dueños y no solo estar detrás de una computadora.
    </p>
</div>