<div style="clear: both">
    <h1 class="text-center bg-info">Inteligencia Artificial</h1>
    <p class="text-center">
        Esta conferencia impartida por el M.C. Pablo Salazar Linares me pareció muy interesante
        ya que se tocaron temas familiares para mí en la materia de inteligencia artificial, gracias a ello pude
        comprender de manera mas clara la tendencia de esta tecnología... Temas como Sistemas autónomos,
        Machine learning, deep learnind, chatbots, reconocimiento de patrones, procesamiento del
        lenguaje natural, Big Data, la era cognitiva, Slack y blumings fueron los que se tocaron
        durante esta conferencia para dejarnos un panorama amplio de del mundo laboral y una gran
        sed de conocimientos
    </p>
</div>