<div class="jumbotron">
    <h1 class="text-center">Instituto Tecnológico de Tepic</h1>
    <p>Jesús Eduardo Fregoso Corona</p>
    <p class="text-center">Fecha de entrega</p>
    <p class="text-center">23-Octubre-2017</p>
</div>